body{
    background-color: #eee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    margin: 120px auto;
    padding: 25px;
    text-align: center;
}
.card img{
    width: 170px;
    height: 170px ;
    border-radius: 50%;
}
.card h2{
    font-size: 40px;
    margin: 20px 0;
    padding-bottom:30 px;
}
.card button{
    width: 70%;
    height: 30px;
    padding-top: 40px
    border: 0;
    background-color: burlywood;
    font-size: 20px;
    color: black;
    transition: all 0.3s;
    border-radius: 5px;
}

.card  button:hover{
background-color: #eee;
    color: black;
    box-shadow: 0 3px 13px 0 rgba(0,0, 0, 0);
}